<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334507635897-oj3gdjndkiletsvmn0g20bvoq3id4eju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334507635897-oj3gdjndkiletsvmn0g20bvoq3id4eju</string>
	<key>API_KEY</key>
	<string>AIzaSyBVUSvOlml0LLyrUqnA87ttggtaLIkJVX4</string>
	<key>GCM_SENDER_ID</key>
	<string>334507635897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.3idiot.Flash-Chart</string>
	<key>PROJECT_ID</key>
	<string>flash-chart-ios-1c50f</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chart-ios-1c50f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334507635897:ios:71655a066021d479e75768</string>
</dict>
</plist>